.inline-input > div {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.rule-input > div, .rule-input-half > div {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.rule-input-full > div {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.rule-input-full .Polaris-Connected {
    min-width: calc(100% - 79px);
}

.rule-input .Polaris-TextField, .rule-input .Polaris-Select {
    min-width: 123px;
    max-width: 123px;
}

.rule-input-half .Polaris-TextField, .rule-input-half .Polaris-Select {
    min-width: 150px;
    max-width: 150px;
}

.rule-group .Polaris-Select {
    min-width: 135px;
}

.inline-input .Polaris-Select {
    min-width: calc(100% - 87px);
}

.inline-inputs:not(:empty) {
    margin-bottom: 5px;
}

.inline-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.limit-rule {
    max-width: 700px;
    min-width: 500px;
}

.condition-rules {
    background-color: white;
    border: 1px solid #dddddd;
    border-bottom-width: 0;
    width: calc(100% - 20px);
}

.close-icon {
    position: absolute;
    top: 3px;
    right: 3px;
}